version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "07:30"
      timezone: "Europe/Amsterdam"

    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"

    groups:
      maintenance:
        applies-to: "version-updates"
        update-types:
          - "minor"
          - "patch"

    labels:
      - "dependencies"
      - "javascript"

    commit-message:
      prefix: "chore(deps)"

    open-pull-requests-limit: 1

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
      time: "07:30"
      timezone: "Europe/Amsterdam"
    groups:
      maintenance:
        applies-to: "version-updates"
        update-types:
          - "major"
          - "minor"
          - "patch"
    labels:
      - "dependencies"
      - "github-actions"
    commit-message:
      prefix: "ci(deps)"
    open-pull-requests-limit: 1