# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# environment
.env
.env.local

# dependencies
/node_modules
/.yarn
/.pnp
.pnp.js

# build
docker-compose.override.y*ml

# linting
.eslintcache

# testing
/coverage

# debug
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production
/build
