services:
  frontend:
    build:
      context: .
      target: app
      args:
        - BUILD_ENV=development
    image: ${REGISTRY:-localhost:5001}/${REPOSITORY:-opdrachten/bereikbaarheid-frontend}:${VERSION:-latest}
    environment:
      - TZ=Europe/Amsterdam
    ipc: host
    ports:
      - '5000:8080'
    volumes:
      - ./nginx.dockercompose.conf:/etc/nginx/conf.d/default.conf

  fe-dev:
    build:
      context: .
      target: base
      args:
        - BUILD_ENV=development
    environment:
      - TZ=Europe/Amsterdam
    ipc: host
    ports:
      - '5001:3000'
    volumes:
      - ./nginx.dockercompose.conf:/etc/nginx/conf.d/default.conf
      - ./src:/app/src
      - ./tsconfig.json:/app/tsconfig.json
      - ./vite.config.js:/app/vite.config.js
      - ./index.html:/app/index.html
    command: npm start

  test:
    build:
      context: .
      target: base
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - ./src:/app/src
      - ./test:/app/test
    command: npm run test

  upgrade:
    build:
      context: .
      target: upgrade
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
    command: ncu -u --doctor --target minor

networks:
  default:
    name: amsterdam-bereikbaarheid
