name: CI

on:
  merge_group:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: write-all

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        job: [lint, build]

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          check-latest: true

      - name: Install dependencies
        run: npm ci

      - name: Run ${{ matrix.job }} task
        run: npm run ${{ matrix.job }}
